:root {
  --main-font: 'Inter-Variable';
  --main-font-size: 18px;
  --main-font-normal-weight: 400;
  --main-font-bold-weight: 700;
  --accent-font: 'Press Start 2P';
  --accent-font-normal-weight: 400;
  --content-width: clamp(375px, calc(700 / 1440 * 100vw), 700px);
  --main-color: #fff;
  --accent-color: #000;
  --image-lable-stroke-color: #fff;
  --bg-pattern:
    repeating-linear-gradient(
      to right,
      #d3d3d3,
      #d3d3d3 2px,
      transparent 2px,
      transparent 4px
    ),
    repeating-linear-gradient(
      to bottom,
      #d3d3d3,
      #d3d3d3 2px,
      transparent 2px,
      transparent 4px
    ),
    linear-gradient(
      to bottom, 
      #e7e7e7 0.01%,
      #1a1a1a 100%
    );

  /* heart */
  --heart-color: #ff0000;
  --heart-contour-color: var(--accent-color);
  --heart-animation-fill-color: transparent;
}
